
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:700,900);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	background: #000;
}

@mixin links () {
	color: $white;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

@mixin edit-btn () {
	font-size: 14px;
	color: #777;
}

.full-height {
	height: 100vh;
	position: absolute;
	width: 100%;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.container-welcome{
	margin-top: 35vh;
	position: relative;
}

.links > a {
	color: $white;
	padding: 0 25px;
	@include links();
	&:hover {
		color: $brand-warning;
		cursor: pointer;
	}
}
.logo{
	display: block;
	width: 100%;
	text-align: center;
}
.title {
	color: $white;
	font-size: 6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 5px;
	display: block;
	width: 100%;
	height: 100px;
	padding: 0 20px;
	line-height: 1.2;
	margin-top: 20px;
}

.m-b-md{
	background: url('../images/1-logo-ESIAB-blanc.png') no-repeat 50% 50%;
	margin-bottom: 30px;
	width: 335px;
	height: 100px;
	display: block;
}
.navbar-default{
	color: $white;
	border-bottom: none;
	.navbar-brand{
		.logo{
			background: url('../images/1-logo-ESIAB-blanc.png') no-repeat 15% 0%;
			-webkit-background-size: contain;
			background-size: contain;
			width: 335px;
			height: 100%;
			display: block;
		}
		color: $white;
		&:hover{
			color:#ffdc2b;
		}

	}
	.navbar-nav{
		.dropdown-menu{
			background-color: $dark-grey;
		}
		.open{
				a{
					color: $white;
					&:hover,
					&:focus{
						color:#ffdc2b;
						background-color: #000;
					}
				}
				ul.dropdown-menu{
					li{
						a{
							color: $white;
							&:hover,
							&:active{
								color:#ffdc2b;
							}
						}
					}
				}
			}
		li{
			a{
				color: $white;
				&:hover,
				&:active{
					color:#ffdc2b;
				}
			}
			
		}
	}
	.navbar-right{
		@include links();
	}
}

.nav-pills{
	li{
		&.active{
			a{
				background-color: #ffdc2b;
				color: #434343 !important;
				&:hover,
				&:active,
				&:focus{
				background-color: #ffdc2b;
			}
		}
	}
		a{
			color: $white !important;
			&:hover,
			&:focus{
				color: #434343 !important;
			}
		}
	}
}

.panel{
	background-color: $dark-grey;
	border-color: #444;
	color: $white;
	.panel-heading,
	.panel-footer{
		.badge{
			vertical-align: top;
			background-color: $brand-success;
		}
		background-color: $dark-grey;
		border-color: #444;
		color: $white;
		@include links();
	}

	.panel-body{
		.az_pages{
			margin-bottom: 10px;
			a{
				color: $brand-warning;
				font-size: 1.5rem;
				margin: 0 2px;
			}
		}
	}
}

.btn-ctrls{
	margin: 5px 0;
}

.form-group.required .control-label:after { 
	content:"*";
	color:red;
	font-size: 24px;
	margin-left: 5px;
	line-height: 0;
}

input[type="file"].upl_hidden{
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	border: 0;
	padding: 0;
}

table{
	background-color: $dark-grey;
	color: #e7e7e7;
	
	&.table{
		margin-bottom: 0;
		tbody{
			tr{
				td{
					border-color: #666;
					vertical-align: middle;
					a{
						color: #e7e7e7;
					}
					&.success{
						background-color: #41A62A;
					}
					.socials_icn{
						font-size: 21px;
						line-height: 0;
					}
					.socials_icn a:hover{
						color: #999;
					}
				}
			}
		}
	}

	&.table-striped{
		tbody{
			tr:nth-of-type(odd){
				background-color: #434343;
			}
		}
	}
}

h1.personal{
	color: $brand-warning;
	i.edit{color: #777;}
}
h1+hr{border-top: 1px solid $brand-success;}

section.personal{
	padding: 20px 0 40px;

	.ancien_title{
		color: #E7E7E7;
		letter-spacing: 2px;
	}

	.avatar{
		margin-bottom: 40px;

		a{
			position: relative;
			color: #e7e7e7;
			display: block;
			text-decoration: none;
			width: 240px;
			min-height: 240px;
		}
		.halo{
			border-radius: 50%;
			background: $brand-success;
			padding: 5px;
			display: inline-block;
			min-width: 240px;
			min-height: 240px;
			a{
				opacity: 1;
				-webkit-transition: opacity .3s ease-in;
					transition: opacity .3s ease-in;
				.icn{
					opacity: 0;
					display: inline-block;
					position: absolute;
					top: 38%;
					left: 39%;
					background: #000;
					border-radius: 50%;
					text-align: center;
					width: 60px;
					height: 60px;
					padding: 20px 0;
					-webkit-transition: opacity .3s ease-in;
					transition: opacity .3s ease-in;
				}
			}
			a:hover{
				opacity: 0.8;
				.icn{
					opacity: 0.9;
				}
			}
		}

		.thumbnail{
			border: none;
		}
	}

	.info{
		color: #e7e7e7;
		h2{
			margin-top: 0;
			i.edit{
				@include edit-btn();
				font-size: 24px;
			}
		}

		i.edit{
			@include edit-btn();
		}

		p{
			i{margin-right: 10px;}
			i.fa{
				font-size: 21px;
				margin: 0 13px 0 3px;
			}
		}
		.adress{
			color: #777;
			i{font-size: 16px; margin: 0 5px 0 5px;}
		}
		.mail{
			a{color: #e7e7e7;}
		}
	}
}
section.pro{
	color: #E7E7E7;
	h1{
		color: $brand-warning;
	}
	i.edit{color: #777;}
	p{
		i{margin-right: 10px;}
		i.fa{
			font-size: 21px;
			margin: 0 13px 0 3px;
		}
	}
	a{ color: #e7e7e7; }
	hr{border-top: 1px solid $brand-success;}
}
span.logout{
	vertical-align: bottom;
	text-transform: none;
}
.material-icons{
	vertical-align: middle;
}

td.date{
	min-width: 100px;
}

.btn-float{
	position: relative;
	margin-right: 10px;
}

.pagination{
	margin: 0;
}

footer{
	padding: 40px;
}

@media (min-width: 1090px) {
	.container{
		width: 95%;
	}

	.btn-float{
		position: fixed;
		z-index: 10;
		bottom: 40px;
		right: 2%;
	}
}

@media (max-width: 480px) {

	.title,
	.logo{
		text-align: center;
		border: none;
	}

	.btn-float{
		margin: 20px auto;
		width: 60%;
		display: block;
		float: none !important;
	}
	.btn-group{
		margin: 20px 1px;
		a{
			display: block;
			width: 100%;
		}
	}
	.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
		border-radius: 5px 5px 0 0;
	}
	.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
		border-radius: 0px;
		margin: 0;
	}

	.btn-group > .btn:last-child:not(:first-child){
		border-radius: 0 0 5px 5px;
	}
	.btn-group .btn + .btn{margin: 0;}
	.navbar-brand{
		font-size: 12px;
	}
	.nav-pills{
		li{
			width: 100%;
			margin: 5px 0;
		}
		li+li{
			margin: 5px 0;
		}
	}
}